textarea{
height: 300px;
width: 700px;
border: 5px solid rgba(0, 0, 0, 0.708);
border-radius: 5px;
font-size: 20px;
padding: .5rem;
margin: 1rem;

}
body{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
 font-size: 50px;
text-align: center;
}
